apiVersion: v1
kind: Namespace
metadata:
  name: slimfaas-demo
  labels:
    name: slimfaas
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: slimfaas-config
  namespace: slimfaas-demo
data:
  SLIMFAAS_JOBS_CONFIGURATION: |
    {
      "Configurations": {
        "fibonacci": {
          "Image": "axaguildev/fibonacci-batch:latest",
          "ImagesWhitelist": [],
          "Resources": {
            "Requests": {
              "cpu": "400m",
              "memory": "400Mi"
            },
            "Limits": {
              "cpu": "400m",
              "memory": "400Mi"
            }
          },
          "DependsOn": ["fibonacci1"],
          "Environments": [],
          "BackoffLimit": 1,
          "Visibility": "Public",
          "NumberParallelJob": 2,
          "TtlSecondsAfterFinished": 2,
          "RestartPolicy": "Never"
        }
      },
    "Schedules": {
      "fibonacci": [
        {
            "Schedule": "0 0 * * *",
            "Args": ["42", "43"]
        }]
      }
    }
---
apiVersion: apps/v1

kind: StatefulSet
metadata:
  name: slimfaas
  namespace: slimfaas-demo
spec:
  podManagementPolicy: OrderedReady
  replicas: 3
  serviceName: slimfaas
  selector:
    matchLabels:
      app: slimfaas
  volumeClaimTemplates:
    - metadata:
        name: slimfaas-volume
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 2Gi
  template:
    metadata:
      labels:
        app: slimfaas
      annotations:
        prometheus.io/path: /metrics
        prometheus.io/port: "5000"
        prometheus.io/scrape: "true"
    spec:
      serviceAccountName: slimfaas
      containers:
        - name: slimfaas
          image: axaguildev/slimfaas:0.57.3-pr.210350
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 3
            periodSeconds: 10
            timeoutSeconds: 8
            terminationGracePeriodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ready
              port: 5000
            initialDelaySeconds: 3
            periodSeconds: 10
            timeoutSeconds: 8
          env:
            #- name: BASE_FUNCTION_URL
              #value: "http://{function_name}.{namespace}.svc.cluster.local:5000"
            #  value: "http://{pod_ip}:{pod_port}"
            #- name: BASE_FUNCTION_POD_URL # require for publish route
            #  value: "http://{pod_ip}:{pod_port}"
            - name: BASE_SLIMDATA_URL
              value: "http://{pod_name}.{service_name}.{namespace}.svc:3262"
            #- name: NAMESPACE
            #  value: "slimfaas-demo"
            - name: SLIMDATA_DIRECTORY
              value: "/database"
            #- name: ASPNETCORE_URLS
            #  value: http://+:5000
            - name: Logging__LogLevel__SlimFaas
              value: "Information"
            #- name: "SLIMDATA_CONFIGURATION"
            #  value: '{"lowerElectionTimeout":"150","upperElectionTimeout":"300","requestTimeout":"00:00:00.3000000","rpcTimeout":"00:00:00.1500000","heartbeatThreshold":"0.5"}'
            #- name: SLIMDATA_SOCKETS_HTTP_HANDLER_TIMEOUT
            #  value: "500"
            - name: SLIMFAAS_JOBS_CONFIGURATION
              valueFrom:
                configMapKeyRef:
                  name: slimfaas-config
                  key: SLIMFAAS_JOBS_CONFIGURATION
            - name: Data__DefaultVisibility
              value: "Public"
          volumeMounts:
            - name: slimfaas-volume
              mountPath: /database
          resources:
            limits:
              memory: "240Mi"
              cpu: "400m"
            requests:
              memory: "120Mi"
              cpu: "400m"
          ports:
            - containerPort: 5000
              name: slimfaas
            - containerPort: 3262
              name: slimdata
---
apiVersion: v1
kind: Service
metadata:
  name: slimfaas
  namespace: slimfaas-demo
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
spec:
  clusterIP: None
  publishNotReadyAddresses: true
  selector:
    app: slimfaas
  ports:
    - name: "http"
      port: 5000
    - name: "slimdata"
      port: 3262
